<footer class="footer">
  <div class="container">
	  <small>
	  	© 2012-  
	    <a href="http://railstutorial.org/">Paintball Chihuahua Divas.  </a>
	    Derechos Reservados.
	  </small> 
	  <nav>
	    <ul>
	      <li><%= link_to "inicio",   '#' %></li>
	      <li><%= link_to "acerca de", '#' %></li>
	      <li><%= link_to "contacto", '#' %></li>
	      <li><%= link_to "web master", '#' %></li>
	    </ul>
	  </nav>
  </div>
</footer>
