<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logodivas.png", alt: "PaintBall Divas"), '#', id: "logo" %>
      <% paginanombre=Page.order("ordenp")%>
      
      <nav class="nav">
      	<ul id="menu">
      		<% paginanombre.each do |titulo| %>	
			<li>
				<%= link_to titulo.name, titulo.routes %>
			</li>
			<%end%>
		</ul>
	  </nav>
      <nav class="nav pull-right">
	
          <li><%= link_to "Ayuda",    '#' %></li>
          <li><%= link_to "Log in", '#' %></li>

      </nav>
    </div>
  </div>
</header>